<div class="profile">
  <div class="left">
    <% if @user.avatar.exists? %>
    <%= image_tag @user.avatar.url(:medium) %>
    <% else %>
     <%= image_tag asset_path('no-profile-image.jpg')%>
    <% end %>
  </div>

  <div class="right">
    <strong>Name: </strong><%= @user.first_name %> <%= @user.last_name %><br/>
    <strong>Email: </strong><%= @user.email%><br/>
    <% if can? :update, @user %>
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
    <% end %>
  
  </div>
</div>
