
<div class="col-md-4">
<%= render 'questions/searchrest' %>
</div>

<div class="col-md-7 top">
  <div class="col-md-2">
    <% if @user.avatar.exists? %>
    <%= image_tag @user.avatar.url(:medium), class: 'img' %>
    <% else %>
     <%= image_tag asset_path('no-profile-image.jpg'), class: 'img'%>
    <% end %>

  </div>
  <div class="col-md-5">
    <strong>Name: </strong><%= @user.first_name %> <%= @user.last_name %><br/>
    <strong>Email: </strong><%= @user.email%><br/>
      <strong> Points: </strong>
      <% if @user.score>0 %>
      <%= @user.score %>
      <% else %>
      <%= 0 %>
      <% end %>
      <br/>
    <% if can? :update, @user %>
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
    <% end %>
  </div>
</div>

